{% extends 'base.html' %}
{% load static %}

{% block title %}商品一覧｜Shop Menu{% endblock %}

{% block contents %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">バーガーキング</h1>
            <p class="lead fw-normal text-white-50 mb-0">バーガーキングの商品一覧</p>
            {% if user.is_authenticated %}
                <a class="btn btn-success mt-5 mb-3" href="#">メニューを追加</a>
            {% endif %}
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for burgerKing in burgerking_list %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    {% if burgerKing.photo %}
                    <img class="card-img-top" src="{{ burgerKing.photo.url }}" alt="..." />
                    {% endif %}
                    <!-- Product details-->
                    
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ burgerKing.name }}</h5>
                            <!-- Product price-->
                            {{ burgerKing.price }}円
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'hamburger:burgerking_detail' burgerKing.pk%}">詳細</a></div>
                    </div>
                    
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- ページネーション処理 -->
        {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            <!-- ページ数表示 -->
            {% for page_num in page_obj.paginator.page_range %}
                {% if page_obj.number == page_num %}
                <li class="page-item active">
                    <a class="page-link" href="#">{{ page_num }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
                {% endif %}
            {% endfor %}
            <!-- 次のページリンク -->
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</section>
{% endblock %}
