{% extends 'base.html' %}
{% load static %}

{% block title %}ハンバーガー比較サイト{% endblock %}

{% block header %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">ハンバーガー比較サイト</h1>
            <p class="lead fw-normal text-white-50 mb-0">Let's find your favorite hamburger!!</p>
        </div>
    </div>
</header>
{% endblock %}

{% block contents %}
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'assets/img/mac.jpg' %}" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h3 class="display-4">マクドナルド</h3>
                    <h5>安く食べたい金欠の人におすすめ</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 2-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'assets/img/mos.jpg' %}" alt="..." /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h3 class="display-4">モスバーガー</h3>
                    <h5>健康志向の人におすすめ</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 3-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'assets/img/burgerking.jpg' %}" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h3 class="display-4">バーガーキング</h3>
                    <h5>ガッツリお腹いっぱい食べたい人におすすめ</h5>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}